.section-article-group-11 {

    h2 {
        margin-top: 0;
        margin-bottom: 15px;
        padding: 20px 0;
        font-family: $font-readex;
        font-size: rem-calc(25px);
        line-height: rem-calc(14px);
        font-weight: $font-semi-bold;
        color: $secondary-color;
        border-bottom: 1px solid $light-gray;
        border-top: 1px solid $light-gray;
    }

    .swiper-wrapper {
        gap: unset;

        @include breakpoint(small) {
            gap: 30px;

        }
    }

    .slide {
        display: flex;
        flex-direction: column;

        .article-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            .article-with-border-left {
                border-left: 1px solid $light-gray;
                padding-left: 30px;


                .article-category {
                    margin: 0;
                    padding: rem-calc(5px 0);
                    font-family: $font-readex;
                    font-size: rem-calc(13px);
                    font-weight: $font-medium;

                    a {
                        color: #8E2218;
                    }
                }


                .article-image img {
                    object-fit: cover;
                    width: 100%;
                    height: 165px;

                }

                .article-title {
                    margin: 0;
                    margin-bottom: rem-calc(20px);

                    a {
                        font-family: $font-mizan-semi-bold;
                        color: $primary-color;
                        max-width: 300px;
                        font-size: rem-calc(26px);
                        line-height: rem-calc(32px);
                        margin-bottom: rem-calc(25px);
                    }
                }
            }
        }

    }
}