.section-article-group-6 {
    .section-title {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: $font-mizan;
        color: #8E2218;
        text-align: center;
        border-top: 0.5px solid $gray;
        border-bottom: 0.5px solid #D9D9D9;

        @include breakpoint(small) {
            font-size: rem-calc(70px);
            line-height: rem-calc(74px);
        }
    }

    .article-category {
        font-family: $font-readex;
        font-size: rem-calc(13px);
        font-weight: $font-medium;
        color: #8e2218;

        .live-sign {
            margin-left: 15px;
        }

        a {
            color: #8e2218;
        }
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 30px;
        font-family: $font-mizan;
        font-size: rem-calc(28px);
        line-height: rem-calc(36px);

        @include breakpoint(small) {
            font-size: rem-calc(48px);
            line-height: rem-calc(56px);
        }

        a {
            color: $black;
        }
    }

    h4 {
        margin-top: 10px;
        font-family: $font-mizan;
        font-size: rem-calc(22px);
        line-height: rem-calc(26px);

        a {
            color: $primary-color;
        }
    }

    .articles {
        padding-top: 30px;

        @include breakpoint(small) {
            display: grid;
            gap: 60px;
            grid-template-columns: 1fr 1fr;
        }
        p {
            margin-bottom: 0;
            font-size: rem-calc(22px);
            line-height: rem-calc(26px);
            color: #404040;
            @include breakpoint(small) {
                width: 50%;
            }
        }
        .small-articles {
            display: grid;
            gap: 60px;
            grid-template-columns: repeat(2, 1fr);
            .column {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -30px;
                    width: 1px;
                    height: calc(100% - 30px);
                    background-color: #E4E4E4;
                }
            }
            .article-item {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 0.5px solid #D9D9D9;
                &:last-child {
                    border: none;
                }
            }
        }
    }

}