.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 50px;
    color: $primary-color;
    border: 0.5px solid rgba($black, 0.3);
    border-radius: 15px;
    padding: 12px;
    transition: .1s all;
    cursor: pointer;
    span {
        display: flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;
        background-color: $red;
        border-radius: 7px;
        svg {
            height: 20px;
            color: $white;
        }
    }
}